<mat-card class="project-card">
    <mat-card-header>
        <mat-card-title>{{project.title}}</mat-card-title>
        <mat-card-subtitle *ngFor="let tag of project.tags">{{tag}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>{{project.description}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button class="join-button">
            Join <mat-icon>add</mat-icon>
        </button>
        <button mat-button class="fork-button">
            Build from this <mat-icon>content_copy</mat-icon>
        </button>
        <button mat-button class="fork-button" *ngIf="project.weblink !== null">
            Check it out <mat-icon>public</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>